h1{
    height : 15%;
    width: 100%;
    position:fixed;
    text-align: center;
    background-color: white;
    
}

* {padding:0;}
ol {position:relative; margin:0 10%; list-style:none;}
ul {list-style:inside; border:black;}
h3 {text-align:center;}


#Qexist {
    position:fixed;
    height:100%;
    margin-bottom: 100%;
    border-color: black;
     
   

}
#Fexist {

    left:60%;
    position:fixed;
    width:40%;
    height:100%;
    text-align: center;

}


#QuestionList{
    border: solid grey 1px;
    padding: 1em;
    text-align: center;

}

#FeaturesList{
    border: solid grey 1px;
    padding: 1em;
    text-align: center;
    

}
#modifierQuestionnaire
{
   
    margin-left:40%;
}

#modifierFeature{
    margin-left:40%;
}


#FormulaireModifQuestion {

    left:60%;
    position:fixed;
    width:40%;
    height:100%;
    text-align: center;

}

.bouton{
    border:1px solid gray;
    padding:5px;
    background:#CCC;
    
    
}
a{
    color:black;
    text-decoration: none;
}