h1{
    height : 15%;
    width: 100%;
    position:fixed;
    text-align: center;
    /*background-color: white;*/
    
}

* {padding:0; margin:0;}
ol {position:relative; margin:0 10%; list-style:none;}
ul {list-style:inside;}
h3 {text-align:center;}
#Qexist {
    position:absolute;
    width:40%;
    height:100%;
}
#Fexist {

    left:60%;
    position:absolute;
    width:40%;
    height:100%;
    text-align: center;

}
