/*
-------------------------------------------------------------------------------------------------
<Une ligne décrivant le nom du programme et ce qu’il fait>
Copyright © 2019 Ulysse GUYON Sacha WANONO Eléa THUILIER
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see < https://www.gnu.org/licenses/ >.
-------------------------------------------------------------------------------------------------
*/

* {
    font-family: Roboto, Lato, Arial, Helvetica, sans-serif;
    
}

.blockContainer {
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D0D0;
    box-shadow: 3px 5px 8px #00000084;
    padding: 2em;
    height: 80%;
}

h1 {
    font-size: 3.5em;
    font-weight: bolder;
}

label .acceptButton {
    width: 60%;
    display: inline-block;
}

label .QCMLabel {
    margin-left: 15px;

}
.divInput {
    margin-top: 2em;
    margin-left: 15px;
}


.divInput label #text{
    margin-left: 1em;
}



.prestext {
    margin-bottom: 1.5em;
}


.prestext h3{
    margin-top: -1.4em;
    font-weight: bold;
    font-size: 1.5em !important;
}

.btn {
    box-shadow: 3px 5px 8px #00000051;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 1em;
}

.col.continueButton {
    
    margin: auto;
    /*display: block !important;*/
    text-align: center;
}


#form-id {
    margin-top: 1em;
    
}

.form-row {
    margin-left: 15px;
}

.form-control{
    width: auto ;
}

.legend {
    font-size: 1.1em;
    font-weight: bold;
}


/*DESIGN CLASSEMENT*/


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.rank.container {
    text-align: center;
    background-color: #EFEFEF;
    min-height: 5em;
    max-width: 100%;
    padding: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0em;
    box-shadow: inset 3px 5px 8px #00000051;
    overflow-x: auto;
    
}

.nested-item {
    border: 1px solid #D0D0D0;
    width: 16vw;
    height: 15vh;
    max-height: initial;
    padding: 0.5em;
    font-size: 0.8em;
    box-shadow: 3px 5px 8px #00000051;
    border-radius: 6px;
    background-color: white;
    z-index: 1;
    overflow: hidden; /* required for text-overflow */
    display: block;
    margin: 0.5em;
}

.rank .nested-item, .rank .nested-item.draggable-source--is-dragging  {
    
    font-size: 1.5vh !important;
    width: 90%;
}


#initial_container .nested-item.draggable-source--is-dragging /*, #initial_container .draggable-mirror*/ {
    border: 1px solid #D0D0D0;
    width: calc(100% / 4 - 4 * 0.5em);
    height: 15vh;
    max-height: initial;
    padding: 0.5em;
    font-size: 0.8em;
    box-shadow: 3px 5px 8px #00000051;
    border-radius: 6px;
    background-color: white;
    z-index: 1;
    overflow: hidden; /* required for text-overflow */
    display: block;
    margin: 0.5em;
}


#initial_container {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-align: center;
    background-color: #EFEFEF;
    min-height: 5em;
    max-height: 100%;
    max-width: 100%;
    box-shadow: inset 3px 5px 8px #00000051;
    margin-bottom: 1em;

}

.nestable {
    border: 1px solid #D0D0D0;
    text-align: center;
    height: 100%;
    border-radius: 12px;
    margin: auto;
        
}

.draggable-mirror { z-index: 99; }

.scaleRow_container {
    align-items: flex-start !important;
    min-height: 6rem;
    margin-bottom: 0.5em;

}

.scaleRow_container .nested-item {
    height: 5em;
}


.bloc .col.continueButton {
    margin: unset;
    float: right;
    text-align: end;
    height: 100%;
}

.bloc button {
    height: 3em;
    width: 10em;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.download-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    
}
.download-bar {
    display: flex;
    align-items: center;
    
}

.download-bar * {
    padding: 2px 5px;
    float: left;
}

.bouton {
    padding: 6px 10px;
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: max-content;
    cursor: pointer;
    font: 15px bold;
    text-decoration: none;
    color: #555;
}



/* Likert Scale */


/*.scaleRow_legend {
    text-align: center;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0.2em;
}*/

.scaleRow_legend {
    height: 1vh;
    margin-bottom: 1.5vh;

}


/* Likertsize = 7 */

#rank_7_6 { 
    background-color: #63ce63;
    border-radius: 0 12px 12px 0;
}

#rank_7_5 { background-color: #9cd96f;}

#rank_7_4 { background-color: #a9e089;}

#rank_7_3 { background-color: #f8cf41;}

#rank_7_2 { background-color: #f2864e;}

#rank_7_1 { background-color: #f66125;}

#rank_7_0 { 
    background-color: #f7565a;
    border-radius: 12px 0 0 12px;
}

/* Likertsize = 5 */

#rank_5_4 { 
    background-color: #63ce63;
    border-radius: 0 12px 12px 0;
}

#rank_5_3 { background-color: #9cd96f;}

#rank_5_2 { background-color: #f8cf41;}

#rank_5_1 { background-color: #f2864e;}

#rank_5_0 { 
    background-color: #f7565a;
    border-radius: 12px 0 0 12px;
}

/* Likertsize = 3 */

#rank_3_2 { 
    background-color: #63ce63;
    border-radius: 12px 0 0 12px;
}

#rank_3_1 { background-color: #f8cf41;}

#rank_3_0 { 
    background-color: #f7565a;
    border-radius: 12px 0 0 12px;
}