* {
    font-family: Lato;
    
}

.blockContainer {
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D0D0;
    box-shadow: 3px 5px 8px #00000084;
    padding: 2em;
    height: 80%;
}

h1 {
    font-size: 3.5em;
    font-weight: bolder;
}

label .acceptButton {
    width: 60%;
    display: inline-block;
}

label .QCMLabel {
    margin-left: 15px;

}
.divInput {
    margin-top: 2em;
    margin-left: 15px;
}


.divInput label #text{
    margin-left: 1em;
}

.divInput {
    margin-top: 1em;
}

h2 .prestext {
    font-weight: bold;
    font-size: 1.2em;
}

#continuebutton.btn {
    box-shadow: 3px 5px 8px #00000051;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 1em;
}

.row.continueButton {
    
    margin: auto;
    display: block !important;
    text-align: center;
}
.row {
    display: block !important;
}

#form-id {
    margin-top: 1em;
    
}

.form-row {
    margin-left: 15px;
}

.form-control{
    width: auto ;
}

.legend {
    font-size: 1.1em;
    font-weight: bold;
}