/* FEUILLE DE STYLES RELATIVE AUX ELEMENTS MATERIAL DESIGN */

/*
 * BUTTON :
 */ 

.btn {
    position: relative;
  
    display: block;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #2ecc71;
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #27ae60;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 3px 30px;
    font-weight: bold;
    font-size: 2.5em;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

  
.btn.blue {
    background-color: #3187F4;
  }
  
  .btn.blue:hover, .btn.orange:focus {
    background-color: #2779E0;
    color: #ecf0f1;
  }


/*
 * ------------------------------------------------------
 * 
 * Checkbox :
 * 
 */

.md-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.md-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.md-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.md-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.md-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.md-checkbox > input:checked,
.md-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.md-checkbox > span::before + input ,
.md-checkbox > span::before + input{
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.md-checkbox > span::after + input:checked,
.md-checkbox > span::after + input:indeterminate  {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.md-checkbox > span::after + input:indeterminate {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.md-checkbox:hover > input {
    opacity: 0.04;
}

.md-checkbox > input:focus {
    opacity: 0.12;
}

.md-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.md-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.md-checkbox > label::before  + input:active {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.md-checkbox > label::before  + input:checked:active {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.md-checkbox > input:disabled {
    opacity: 0;
}

.md-checkbox > label + input:disabled  {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.md-checkbox > label::before + input:disabled {
    border-color: currentColor;
}

.md-checkbox > label::before + input:checked:disabled ,
.md-checkbox > label::before + input:indeterminate:disabled {
    border-color: transparent;
    background-color: currentColor;
}

.blueChBox{
    --pure-material-surface-rgb: 49,135,244;
    --pure-material-onsurface-rgb: 49,133,244;
    --pure-material-primary-rgb: 76,76,76;
    --pure-material-onprimary-rgb: 76,72,76;
    --pure-material-font: "Lato";
}