<!--
-------------------------------------------------------------------------------------------------
<Une ligne décrivant le nom du programme et ce qu’il fait>
Copyright © 2019 Ulysse GUYON Sacha WANONO Eléa THUILIER
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see < https://www.gnu.org/licenses/ >.
-------------------------------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlgoLov - Admin</title>

    <link rel="stylesheet" href="../css/admindesign.css"/>
    <link rel="stylesheet" href="../css/alertMessage.css"/>
    <link rel="stylesheet" href="../css/modifQuestion.css"/>
    <link rel="stylesheet" href="../css/modifFeature.css"/>

    <link rel="stylesheet" href="../../public/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="../js/alertMessage.js" ></script>
    <script type="text/javascript" src="../js/Admin.js" ></script>

    <script src="../../public/bootstrap-4.4.1-dist/js/popper.min.js" defer ></script>
    <script src="../../public/bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js" defer></script>
    <script src="../../public/bootstrap-4.4.1-dist/js/bootstrap.min.js" defer></script>
    
</head>
<body class="mb-2" onload="fillPage();">
    <!--titre-->
    <h1 id=titre >Administration</h1>

    <!--volet-->

    <div id="volet" class="bg-light">
        <p>Récuperer un rapport</p>
        <div id="stats-div">
            <span><u><b>Quelques statistiques :</b></u></span>
            <p>Âge moyen : {{ (stats.ageMean || 0).toFixed(2) }} ans</p>
            <table id="tab-stats">
                <thead>
                    <tr>
                        <td :colspan="statsColspan">Nombre total de personnes par sexe </td>
                    </tr>
                </thead>
                <tbody v-for="descr in stats.desc">
                    <tr>
                        <td :colspan="statsColspan">{{ descr.name }}</td>
                    </tr>
                    <tr>
                        <td v-for="comb in descr.combin">{{ comb.name }}</td>
                    </tr>
                    <tr>
                        <td v-for="comb in descr.combin">{{ comb.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <a href="#volet" class="ouvrir" aria-hidden="true">Données existantes</a>
        <form action="#volet_clos" method="get">
            <button type="submit" class="fermer btn btn-outline-dark btn-block rounded" aria-hidden="false">Fermer</button>
        </form>
    </div>


    <!--fin du volet-->

    <div id="alert-message">

    </div>
    <!--ouverture container-->
    <div class="container">
    <!--menu-->
        <div class="row" >
            <div class="col-12">
                <nav>
                    <!--gestion de compte-->
                    <ul class="GestionCompte row" id="GestionCompte">
                        <li id=menu1 class="col">
                            <a href="../Notice-Administration-AlgoLov.pdf" target="_blank">
                                <button  id="not" class="bouton" type="button">
                                    <img src="../images/info.png" alt="logo notice" width="20px" height="20px" />
                                    Notice Admin
                                </button>
                                
                            </a>
                        </li>
                        <li class="col">
                            <form action="./Previsualisation.html" method="GET">
                                <button id="prev" class="bouton" type="submit">
                                    <img src="../images/eye.png" alt="logo prev" width="20px" height="20px" />
                                    Prévisualisation

                                </button>
                                
                            </form>
                        </li>
                        <li id=menu2 class="col">
                            <form action="./UploadPDF.html" method="GET">
                                <button id="up" class="bouton" type="submit">
                                    <img src="../images/acrobat.png" id="upload" alt="logo notice" width="20px" height="20px" />
                                    PDF d'informations

                                </button>
                               
                            </form>
                        </li>
                        
                        <li id="menuCompte dropdown" class="col">
                            <button class="bouton dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="../images/user.png" alt="logo user" width="20px" height="20px" />
                                Menu compte
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/api/admin/logout">
                                    <img src="../images/power (1).png" alt="logo deco" width="20px" height="20px" />
                                    Déconnexion
                                </a>
                                <a class="dropdown-item" href="./AdminRegister.html">
                                    <img src="../images/plus.png" alt="logo newadmin" width="20px" height="20px" />
                                    Ajouter Accès Admin 
                                </a>
                                <a class="dropdown-item" href="./AdminUpdate.html">
                                    <img src="../images/settings.png" alt="logo mdp" width="20px" height="20px" />
                                    Mot de passe 
                                </a>
                            </div>
                        </li>
                    </ul>
                    <!--gestion de compte-->
    
                </nav>

            </div>

        </div>
        
        <div id ="modif">

    
            <!--MODIF QUESTIONS-->

        
            <div class="row">

                <div id="QuestionList" class="col">
        
                    <h3 id="TitreQexist">Liste des questions existantes </h3>
                    
                    <div>
                        <form id="formQuestionFiles" class="file-form overflow-auto" method="POST" action="/api/admin/selectQuestions" @submit.prevent="sendSelectDoc($event.target); stopFadeOut();">
                            <div v-for="doc in files" :class="'download-bar-container ' + doc.classAdd + ' align-item-start'">
                                <input class="col-1" :id="'question_file_' + doc.index" type="radio" name="select_question_file" :value="doc.asString" :checked="doc.isUsed" v-model="select" required />
                                
                                <a class="download-bar bouton mx-2 col-9 overflow-hidden" style="color: black;" :href="doc.path">
                                    
                                    <img class="mx-1" src="../images/logo-excel.png" alt="logo excel" width="30px" height="30px" />
                                    <div>{{ doc.name }}</div>
                                </a>
                                
                                <a class="delete-file btn btn-light rounded col" @click="sendDeleteDoc(doc.name, 'questions')">
                                    <img src="../images/bin.png" alt="logo trash" width="20px" height="20px" />
                                </a>
                            </div>
                        </form>
                    </div>
                    
                    <div id="basboitequestion">

                        <ul class="row p-3">
                            <li class="col-6">
                                <button id="selectQuestionnaireDoc" class="btn btn-success long-btn" type="submit" form="formQuestionFiles">
                                    <img src="../images/check-circle-outline.png" alt="logo newadmin" width="20px" height="20px" />
                                    Utiliser Document coché
                                </bouton>

                            </li>
                            
                            <li class="col-6">
                                <form action="./ModifQuestion.html" method="GET">
                                    <button id="modifierQuestionnaire" class="btn btn-success long-btn" type="submit">
                                        <img src="../images/plus (2).png" alt="logo newadmin" width="20px" height="20px" />
                                        Ajouter Nouveau Document
                                    </button>
                                </form>
                            
                            </li>

                        </ul>

                    </div>
                    
                </div>
                    

                <!-- FIN MODIF QUESTION-->
        
                <!--MODIF FEATURES-->
                <div id="FeaturesList" class="col">
                    <h3 id="TitreFexist"> Liste des documents contenant les variables pour la tâche de classement. <br />
                        Chaque variable dans le fichier sera affichée dans une case à classifier. 
                    </h3>
                    <div>
                        <form id="formFeatureFiles" class="file-form overflow-auto" method="POST" action="/api/admin/selectFeatures" @submit.prevent="sendSelectDoc($event.target); stopFadeOut();">                      
                            <div v-for="doc in files" :class="'download-bar-container ' + doc.classAdd + ' ' + doc.select + 'row align-item-start'">

                                <input class="col-1" :id="'feature_file_' + doc.index" type="radio" name="select_feature_file" :value="doc.asString" :checked="doc.isUsed" v-model="select" required />
                                
                                <a class="download-bar bouton mx-2 col-9 overflow-hidden" style="color: black;" :href="doc.path">
                                    
                                    <img class="mx-1" src="../images/logo-excel.png" alt="logo excel" width="30px" height="30px" />
                                    <div>{{ doc.name }}</div>
                                </a>
                                <a class="delete-file btn btn-light rounded col" @click="sendDeleteDoc(doc.name, 'features')">
                                    <img src="../images/bin.png" alt="logo trash" width="20px" height="20px" />
                                </a>
                            </div>
                        </form>
                    </div>
                    
                    <div id="basboitefeatures">
                        <ul class="row p-3">
                            <li class="col-6">
                                <button id="selectFeatureDoc" class="btn btn-success long-btn" type="submit" form="formFeatureFiles">
                                    <img src="../images/check-circle-outline.png" alt="logo newadmin" width="20px" height="20px" />
                                    Utiliser Document coché
                                </button>
                            </li>
                            <li class="col-6">
                                <form action="./ModifFeature.html" method="GET">
                                    <button id="modifierFeature" class="btn btn-success long-btn" type="submit">
                                        <img src="../images/plus (2).png" alt="logo newadmin" width="20px" height="20px" />
                                        Ajouter Nouveau Document
                                    </button>
                                </form>
                                
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- FIN MODIF FEATURES-->

            </div>

        </div>
    
    </div>
    <!--fermeture container-->
</body>
</html>