<!--
-------------------------------------------------------------------------------------------------
<Une ligne décrivant le nom du programme et ce qu’il fait>
Copyright © 2019 Ulysse GUYON Sacha WANONO Eléa THUILIER
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see < https://www.gnu.org/licenses/ >.
-------------------------------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlgoLov - Admin</title>

    <link rel="stylesheet" href="../css/admin.css"/>
    <link rel="stylesheet" href="../css/alertMessage.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="../js/alertMessage.js" ></script>
    <script type="text/javascript" src="../js/Admin.js" ></script>
    
</head>
<body onload="fillPage();">
    <h1>Administration</h1>
    <div id="volet">
        <a href="/api/admin/report">Récuperer un rapport</a>
        <div id="stats-div">
            <span><u><b>Quelques statistiques :</b></u></span>
            <p>Âge moyen : {{ stats.ageMean || 0 }} ans</p>
            <table id="tab-stats">
                <thead>
                    <tr>
                        <td :colspan="statsColspan">Nombre total de personnes par sexe </td>
                    </tr>
                </thead>
                <tbody v-for="descr in stats.desc">
                    <tr>
                        <td :colspan="statsColspan">{{ descr.name }}</td>
                    </tr>
                    <tr>
                        <td v-for="comb in descr.combin">{{ comb.name }}</td>
                    </tr>
                    <tr>
                        <td v-for="comb in descr.combin">{{ comb.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <a href="#volet" class="ouvrir" aria-hidden="true">Données existantes</a>
        <a href="#volet_clos" class="fermer" aria-hidden="false">Fermer</a>
    </div>

    <div id="alert-message">

    </div>
    <nav>
        <ul class = "GestionCompte" id = "GestionCompte">
            <li>
                <a href="../Notice-Administration-AlgoLov.pdf" target="_blank">
                    Notice Admin
                </a>
            </li>
            <li>
                <a href="./UploadPDF.html">
                    Uploader Nouveau PDF d'informations
                </a>
            </li>
            <li id = "menuCompte">
                <a>Menu compte</a>
                <ul class = "sous">
                    <li>
                        <a  href="/api/admin/logout">
                        Déconnexion
                        </a>
                    </li>
                    <li>
                        <a href="./AdminRegister.html">
                            Ajouter Accès Admin 
                        </a>
                    </li>
                    <li>
                        <a href="./AdminUpdate.html">
                            Mot de passe 
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
    <div id ="modif">

 
        <!--MODIF QUESTIONS-->
        <div id="QuestionList">
        
            <h3 id="TitreQexist">Liste des questions existantes </h3>
            
            <div>
                <form id="formQuestionFiles" method="POST" action="/api/admin/selectQuestions" @submit.prevent="sendSelectDoc($event.target); stopFadeOut();">
                    <div v-for="doc in files" :class="'download-bar-container ' + doc.classAdd">
                        <a class="delete-file danger" @click="sendDeleteDoc(doc.name, 'questions')">
                            <img src="../images/trash.png" alt="logo trash" width="30px" height="30px" />
                        </a>
                        <a class="download-bar bouton" :href="doc.path">
                            <img src="../images/logo-excel.png" alt="logo excel" width="30px" height="30px" />
                            <div>{{ doc.name }}</div>
                        </a>
                        <input :id="'question_file_' + doc.index" type="radio" name="select_question_file" :value="doc.asString" :checked="doc.isUsed" v-model="select" required />
                    </div>
                </form>
            </div>
            
        </div>

        <!--MODIF FEATURES-->
        <div id="FeaturesList">
            <h3> Liste des documents contenant les variables pour la tâche de classement. <br />
                Chaque variable dans le fichier sera affichée dans une case à classifier. 
            </h3>
            <div>
                <form id="formFeatureFiles" method="POST" action="/api/admin/selectFeatures" @submit.prevent="sendSelectDoc($event.target); stopFadeOut();">                      
                    <div v-for="doc in files" :class="'download-bar-container ' + doc.classAdd">
                        <a class="delete-file danger" @click="sendDeleteDoc(doc.name, 'features')">
                            <img src="../images/trash.png" alt="logo trash" width="30px" height="30px" />
                        </a>
                        <a class="download-bar bouton" :href="doc.path">
                            <img src="../images/logo-excel.png" alt="logo excel" width="30px" height="30px" />
                            <div>{{ doc.name }}</div>
                        </a>
                        <input :id="'feature_file_' + doc.index" type="radio" name="select_feature_file" :value="doc.asString" :checked="doc.isUsed" v-model="select" required />
                    </div>
                </form>
            </div>
        </div>

    </div>
    <a id="modifierQuestionnaire" class="bouton" href="./ModifQuestion.html">
        Ajouter Nouveau Document
    </a>
    <button id="selectQuestionnaireDoc" class="bouton" type="submit" form="formQuestionFiles">
        Utiliser Document coché 
    </button>
    <button id="selectFeatureDoc" class="bouton" type="submit" form="formFeatureFiles">
        Utiliser Document coché 
    </button>

    <a id="modifierFeature" class="bouton" href="./ModifFeature.html">
        Ajouter Nouveau Document
    </a>
    
    
    <a id="buttonPrevisualisation" class="bouton buttonPrevisualisation" href="./Previsualisation.html">
        Prévisualisation
    </a>
</body>
</html>