<!--
-------------------------------------------------------------------------------------------------
<Une ligne décrivant le nom du programme et ce qu’il fait>
Copyright © 2019 Ulysse GUYON Sacha WANONO Eléa THUILIER
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see < https://www.gnu.org/licenses/ >.
-------------------------------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/previsualisation.css"/>
    <link rel="stylesheet" href="../../public/bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="../js/Previz.js"></script>

    <script src="../../public/bootstrap-4.4.1-dist/js/popper.min.js" defer ></script>
    <script src="../../public/bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js" defer></script>
    <script src="../../public/bootstrap-4.4.1-dist/js/bootstrap.min.js" defer></script>

    <title>AlgoLov - Prévisualisation </title>
</head>
    <body onload="getConfig();">
        <div class="container-fluid">
            <div class="row navbar navbar-expand-lg navbar-light bg-light navbarOption">

                <nav role="navigation" class="">
                    <ul class="nav nav-pills menu" id="menu" >
                        <li class="nav-item dropdown " id="questionnaire">
                            <a data-toggle="dropdown" class="nav-link dropdown-toggle navItemOption noselect" role="button" aria-haspopup="true" aria-expanded="false">Questionnaires</a>
                            
                            <ul class="dropdown-menu sous">
                                <form>
                                    <li>
                                        <div class="checkbox">
                                            <label class="dropdown-item" for="Debut">
                                                <input id="Debut" name="checkdebut" type="checkbox" target-type="questBegin" @change="changeActive($event.target);">Début
                                            </label>
                                        </div>
                                    </li>
                                    
                                    <li >
                                        <div class="checkbox ">
                                            <label class="dropdown-item" for="Classement">
                                                <input  id="Classement" name="checkclassement" type="checkbox" target-type="bloc" @change="changeActive($event.target);">Classement
                                            </label>
                                        </div>
                                    </li>

                                    <li >
                                        <div class="checkbox ">
                                            <label class="dropdown-item" for="Fin">
                                                <input id="Fin" name="checkfin" type="checkbox" target-type="questEnd" @change="changeActive($event.target);">Fin
                                            </label>
                                        </div>
                                    </li>
                                </form>
                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="combinatoire">
                            <a data-toggle="dropdown" class="nav-link dropdown-toggle navItemOption noselect" role="button" aria-haspopup="true" aria-expanded="false">Combinatoire</a>
                            
                            <ul class="dropdown-menu sous">
                                <form v-if="showCombin">
                                    <li>
                                        <p class="dropdown-item disabled">
                                            {{ descNames.toUpperCase() }}
                                        </p>
                                    </li>

                                    <li v-for="(combin, i) in combinList">
                                        <div class="checkbox">
                                            <label class="dropdown-item">
                                                <input :id="'input ' + combin" :value="combin" type="radio" name="combin" v-model="selectCombin" :checked="i == 0" @change="changeCombin($event.target)"> {{ combin }}
                                            </label>
                                        </div>
                                    </li>
                                    
                                </form>

                                <li v-else> 
                                    <p class="dropdown-item disabled">
                                        Vous n'avez pas activé l'affichage des pages de classement.
                                    </p>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="page-links">
                            <a data-toggle="dropdown" class="nav-link dropdown-toggle navItemOption noselect" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                            
                            <ul class="dropdown-menu sous">
                                <li v-for="quest in questList">
                                    <a class="dropdown-item"  href="#" :title="quest.fullText" :target-quest-id="quest.id" @click="goToPage($event.target)">
                                        {{ quest.text }}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item col order-12" id="page-links">
                            <a class="nav-link navItemOption noselect linkOption" href="./Admin.html">Retour au Menu Admin</a>
                        </li>

                    </ul>

                </nav>
            </div>


            <div class="row">
        
                <div class="col col-sm-1 arrow">
                    <a href="#" id="arrowLeft" @click="addShow()">
                        <img src="../images/arrowLeft.png" width="50px" height="70px" />
                    </a>
                </div>
                <div class="col col-sm-1 order-12 arrow">
                    <a href="#" id="arrowRight" @click="addShow()">
                        <img src="../images/arrowRight.png" width="50px" height="70px" />
                    </a>
                </div>

                
                <div id="pages" class="main container col">
                    <div>
                        <h1>ALGOLOV</h1>
                    </div>

                    <div class="page row blockContainer" v-for="page in pageList" v-show="page.isShown && page.isActive">
                        <!-- Unchangeable pages -->
                        <div class="page-unchangeable col-lg-12" v-if="page.type == 'else'">
                                <div class="row presdiv">
                                    <div class="row prestext noselect">
                                        <div class="centered-text col-lg-12" v-html="page.text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col continueButton"><button id="continuebutton" class="btn btn-primary btn-lg">Démarrer</button></div>
                                </div>
                                
                            <!-- TODO : place this button inside <button class="bouton">Continuer</button>-->
                        </div>

                        <!-- Questions pages -->
                        <div class="page-quest presdiv col-lg-12" v-if="page.type.includes('quest')">
                        
                            <div class="prestext noselect">
                                <h2>Questions préliminaires/finaux</h2>
                            </div>
                        
                            <div class="row form-group">
                                <form id="form-id" class="col-lg-12">
                                    <fieldset class="form-group" v-for="quest in page.questionList" :id="'idQuest_' + quest.id">
                                        <div class="legend">{{ quest.question }}</div>
                                        
                                        <!-- Text Input -->
                                        <input v-if="quest.type == 'text' || quest.type == 'email' || quest.type == 'tel'" :type="quest.type" :id="'idInput_' + quest.id + '_1'"
                                            :class="'form-control form-controlOption classInput_' + quest.id" :name="'form-control classInput_' + quest.id"
                                            :pattern="quest.format || ''" required />

                                        <div class="form-row" v-if="quest.type == 'checkbox' || quest.type == 'radio'">
                                            <!-- Checkable Input -->
                                            <div class="custom-radio col-lg-6 col-sm-12 divQuest" v-if="quest.type == 'checkbox' || quest.type == 'radio'"
                                                v-for="choice in quest.choices" :id="'idDivInput_' + quest.id + '_' + choice.choiceId"
                                                :class="page.type == 'questBegin' ? 'divQuest' : null">
                                            
                                            
                                            
                                                <input :type="quest.type" :id="'idInput_' + quest.id + '_' + choice.choiceId"
                                                    :class="'custom-control-input classInput_' + quest.id" :value="'idInput_' + quest.id + '_' + choice.choiceId"
                                                    :name="'custom-control-input classInput_' + quest.id" :required="quest.type == 'checkbox'"
                                                    :descName="quest.descName" :descValue="quest.descValue" />
                                            
                                                <label class="custom-control-label QCMLabel"
                                                    :for="'idInput_' + quest.id + '_' + choice.choiceId">{{ choice.text }}</label>
                                            
                                            
                                            </div>
                            
                                            <!-- Field "Other" when needed -->
                                            <div v-if="quest.other" class="divQuest">
                                                <input type="text" placeholder="Autre" :id="'idInput_' + quest.id + '_' + (quest.choices[quest.choices.length - 1] + 1)"
                                                    :class="'form-control classInput_' + quest.id" :name="'form-control classInput_' + quest.id" />
                                                
                                            </div>
                                        </div>
                                    </fieldset>
                                   
                                </form>
                            </div>
                            <div class="row">
                                <div class="col continueButton">
                                    <button id="continuebutton" class="btn btn-primary btn-lg" >Continuer</button>
                                </div>
                            </div>
                        </div>

                        <!-- Blocs pages -->
                        <div v-if="page.type.includes('bloc')" :id="'bloc_' + page.bloc.blocId" class="bloc presdiv col-lg-12" :blocType="page.bloc.type">
                            
                            <!-- Classement row -->
                            <div class="row"> 
                                <div class="col-lg-12">
                                    <!-- Header row -->
                                    <div class="row prestext">
                                        <div class="col">
                                            <h2>{{ page.description.text }}</h2>
                                            <br />
                                            <h3>{{ page.bloc.question }}</h3>
                                        </div>
                                    </div>

                                    <!-- Likert text and container row -->
                                    <div class="row align-items-start">
                                        <div class="col-lg-12">

                                            <!-- Likert legend row -->
                                            <div class="row scaleRow_legend">
                                                <div class="col" v-for="(headTxt, i) in page.bloc.legends" >
                                                    {{ headTxt }}
                                                </div>
                                            </div>

                                            <!-- Likert container row -->
                                            <div class="row scaleRow_container align-items-start" >
                                                <div v-for="i in page.bloc.likertSize" :id="'rankContainer_' + (i - page.bloc.likertSize/2)"
                                                    class="nestable container rank col h-50 justify-content-center">
                                                    <!-- Empty features container -->
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- Initial container row -->
                                    <div class="nestable container row justify-content-center" id="initial_container">
                                        <div v-for="feat in page.featureList" id="'feature_' + feat.id" class="nested-item feature-card noselect"
                                            location="initial_container" v-if="feat.content == 'text'"
                                            v-show="feat.combin.find(c => c.descName == page.description.name)[page.descChoice]">
                                            {{ feat.data }}
                                        </div>
                                    
                                    </div>

                                </div>
                            </div>
                            <div class="row rowButton">
                                <div class="col">
                                    <button id="stop-button" class="btn btn-danger btn-lg">Arrêter le questionnaire</button>
                                </div>
                                <div class="col continueButton">
                                    <button id="continuebutton" class="btn btn-primary btn-lg">Continuer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
  
    </body>
</html>
