/*Nouveau design*/


/*sidebar*/
#volet {
    width: 250px;
    height: 1000px;
	padding: 10px;
    background: lightgrey;
    color: #fff;	
    position: fixed;
    left: -265px;
    top: 0px;
    z-index: 2;

    -webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
#volet * {
    color: black;
}
#volet a.ouvrir {
    padding: 10px 25px;
	background: #555;
	color: white !important;
    text-decoration: none;
    position: absolute;
	right: -130px;
    top: 150px;
    -ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;
}

#volet:target {
	left: 0;
}

#volet_clos:target #volet {
    left: -270px;
}


#volet a.fermer {
    display: none;
    background-color: grey;
    color:white;
    text-align: center;
}

#volet:target a.ouvrir {
	display: none;
}
#volet:target a.fermer {
	display: block;
}

#tab-stats {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}
#tab-stats * {
    text-align: center;
    border: black 1px solid;
}
#tab-stats thead {
    font-size: large;
    font-weight: bold;
}


/* fin sidebar*/


@media screen and (min-width: 900px) { 
    /* Nous définirons ici le style de notre menu pour les grands écrans (>900px) */ 

    *{
        color:black;
        
    }
    /*MENU*/
    header{
        
        text-align:center;
        
        font-size:24pt;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        padding:10px 0px 10px 0px;
    }

    a{
        text-decoration: none;
        color:black !important;
    }
    ul{
        display:inline-flex; /* Aligne la liste horizontalement */
        list-style-type:none; /* Retire les puces devant les éléments de liste */
        margin:0px;
        padding:0px;
    }
        
    ul li{
        margin-left:50px;
    }


    .GestionCompte{
        display:flex;
        justify-content: flex-end;
       
        
    }

    nav ul li{
        float: left;
        width:25%;
        text-align: center;
        position: relative;

        /*background-color: lightskyblue;*/
        padding : 1%; 
       
        border-radius: 25px;
        
    }

    

    .sous a{
        padding:10px;
        border-bottom: none;
    }
    nav button:hover{
        color:white !important;
        border-bottom: 2px solid rgb(25, 149, 226);
        background-color:rgb(25, 149, 226);
        
    }
    
    

    .sous{
        display:none;
        box-shadow:0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 1;
        margin-top: 4%;
        margin-right:5%;
    }
    
    nav > ul li:hover .sous{
        display: block;
    }
        
    .sous li{
        float:none;
        width:70%;
        text-align: center;
        border-radius: 0px;
        background-color: white;
        margin-top:4%;
        
    }
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }

    #menuCompte > a::after {
        content: " ▼";
        font-size: 12px;
    }

    /*FIN MENU*/


input{
    margin-right:3% !important;
    vertical-align: auto;
}
    

}
@media screen and (max-width: 900px) { 
    /* Ici, nous redéfinirons le css pour les plus petits écrans (<900px) */


    /* MENU*/
    header{
        
        text-align:center;
        font-size:24pt;
        width:100%;
        position:absolute;
        top:0;
        left:0;
        height:40px;
        padding:10px 0px 10px 0px;
    }

    ul{
        display:inline-flex; /* Aligne la liste horizontalement */
        list-style-type:none; /* Retire les puces devant les éléments de liste */
        margin:0px;
        
    }
    header ul{
        margin:10px auto;
        
        display:block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 1s linear;
    }

       
    header ul li{
        
        border-bottom:solid 2px #555;
        
    }

    nav ul li{
        float: left;
        width:25%;
        text-align: center;
        position: relative;

        /*background-color: lightskyblue;*/
        padding : 2%;
        border-color: black;
        border-radius: 50px;
    }

    .sous li{
        float:none;
        width:70%;
        text-align: center;
        border-radius: 0px;
        background-color: white;
        margin-top:4%;
        
    }
    header ul li:hover{
        
        color:white;
        cursor:pointer;
        
    }
        
    header:hover ul{
        visibility: visible;
        opacity: 1;
    }

        
        

    .GestionCompte{
        display:block;
        
        text-align: center;
            
    }
    
      
    
    .sous a{
        padding:10px;
        border-bottom: none;
    }
    nav a:hover{
        color:black;
        border-bottom: 2px solid lightskyblue;
    }
        
        
    .sous{
        display:none;
        box-shadow:0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: -1;
        margin-top: 4%;
        margin-right:5%;
    }
    
    nav > ul li:hover .sous{
        display: block;
    }
            
        
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }

    #menuCompte > a::after {
        content: " ▼";
        font-size: 12px;
    }
    
    /*fin menu*/

        

}

