

h1 {
    height : 15%;
    width: 100%;
    text-align: center;
    background-color: white;
}



h3 {
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
}


.modif{
    list-style: inside;
    border-color: black;
    height:100%;

}
#Qexist {
    top: 20%;
    position: fixed;
    height: 500px;
    width: 500px;
    margin-bottom: 100%;
    border: black;
}

#Fexist {
    width: 500px;
    top: 20%;
    left: 50%;
    position: fixed;  
    height: 500px;
    text-align: center;
    
}




#QuestionList {
    
    border: solid black 1px;
   
    text-align: center;

    display:table-cell;
    height: 400px;
    width:500px;
    margin:0 auto 0 10%;
    padding-left:2em;
    float: left;
}

.blockContainer {
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D0D0;
    box-shadow: 3px 5px 8px #00000084;
    padding: 2em;
}
     
    
#FeaturesList {
    
    border: solid black 1px;
    
    text-align: center;
    overflow-y:scroll;

    display:table-cell;
    height: 400px;
    width:500px;
    margin:0 10% 0 auto;
    padding-left:2em;
    float: right;
}

#modifierQuestionnaire {
    float:left;
    margin : 1em;
    margin-left:10%;
    }
#selectFeatureDoc {
    float:right;
    margin : 1em;
    margin-right:10%;
}

.long-btn {
    white-space: normal !important;
    word-wrap: break-word !important;
}
    
#modifierFeature {
    float:right;
    margin : 1em;
}
#selectQuestionnaireDoc{
    float:left;
    margin : 1em;
    
    
}
    
.buttonAdmin {
    float: right;
    margin-right: 0.5em;
}

.retour {
    float: left;
}

.bouton {
    padding: 6px 10px;
    
    background:#f5f5f5;
    
    border-radius: 2px;
    border: 1px solid #ccc;
    width: max-content;

    cursor: pointer;

    font: 15px bold;
    text-decoration: none;
    color:#555;
}

    
.download-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.download-bar {
    display: flex;
    align-items: center;
    padding:6px 0 6px 0;
	background:white;
    color:#555;
    margin-right: 20px;
    border:1px solid #ccc;
	box-shadow:1px 1px 3px grey;
}
.download-bar * {
    padding: 2px 5px;
    float: left;
    vertical-align: center;
}
.delete-file {
    border: black solid 1px;
    margin-right: 2em;
}

.used-file {  
    background-color: lightgreen;
}

.arrow {
    height: max-content;
    font: 30px bold;
}

#Upload-Form {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
}
#Upload-Form * {
    display: block;
    margin: 0.5em;
}




#buttonPrevisualisation{
   /* display et dimensions */
 display: inline-block;
 text-align: center;
 margin-right:50%;
 margin-left: 46%;
}

/*MENU COMPTE*/

/*
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top:0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width:25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;

}

nav a {
    display:block;
    text-decoration: none;
    color:black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.GestionCompte{
    display:flex;
    justify-content: flex-end;
    
    background-color:lightgrey;
    margin-bottom:1%;
    margin-top:1%;
}

.sous a{
    padding:10px;
    border-bottom: none;
}
nav a:hover{
    color:black;
    border-bottom: 2px solid lightskyblue;
}


.sous{
    display:none;
    box-shadow:0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
}
    
.sous li{
    float:none;
    width:100%;
    text-align: center;
}



.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}



#menuCompte > a::after {
    content: " ▼";
    font-size: 12px;
}
*/
/*FIN MENU */


/*sidebar*/
#volet {
    width: 250px;
    height: 1000px;
	padding: 10px;
    background: lightgrey;
    color: #fff;	
    position: fixed;
    left: -265px;
    top: 0px;
    z-index: 2;

    -webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
#volet * {
    color: black;
}
#volet a.ouvrir {
    padding: 10px 25px;
	background: #555;
	color: white;
    text-decoration: none;
    position: absolute;
	right: -115px;
    top: 150px;
    -ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;
}

#volet:target {
	left: 0;
}

#volet_clos:target #volet {
    left: -270px;
}


#volet a.fermer {
    display: none;
    background-color: grey;
    color:white;
    text-align: center;
}

#volet:target a.ouvrir {
	display: none;
}
#volet:target a.fermer {
	display: block;
}

#tab-stats {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}
#tab-stats * {
    text-align: center;
    border: black 1px solid;
}
#tab-stats thead {
    font-size: large;
    font-weight: bold;
}


/* fin sidebar*/

#activ-pdf {
    display: flex;
    align-items: center;
    justify-content: center;
}
#activ-pdf * {
    margin: 0 0.5em;
}

/* page ajouterQuestion */

#FormulaireModifQuestion {
    position: fixed;
    
    text-align: center;
    top: 20%;
    width: 500px;
    
    left: 50%;
    
    height: 500px;
}

