
#TitreFexist{
    font-size: 1em;
    text-align: center;
}



#FeaturesList {
    margin-top: 1vh;
    margin-right:3%;
    
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D0D0;
    box-shadow: 3px 5px 8px #00000020;
    padding: 2em;
    
}

#basboitefeatures{
    border: rgb(201, 199, 199) 1px;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    border-style: outset;
}
#alert-message {
    text-align: center;
    margin: 1em;
    border-radius: 15%;
    font: bold;
}
.stop-fade-out {
    visibility: visible;
    opacity: 1;
}
.fade-out-message {
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s, opacity 5s ease-in;
}
.success {
    color: green;
}
.error {
    color: red;
}

.retour {
    position: absolute;
    left: 1em;
    top: 1em;
}

.bouton {
    padding: 6px 10px;
	background-color: transparent;
	border-radius: 50px;
    width: max-content;
    cursor: pointer;
    text-decoration: none;    
}

.bouton:hover{
    box-shadow:0 0 4px grey;
}

.menuBoutons .bouton{
    padding: 6px 10px !important;
    text-align: center !important;
    background-color:rgb(12, 85, 12);
    color: white;
}

input:hover{
    box-shadow:0 0 4px grey;
    border-radius: 50%;
}

.download-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.download-bar {

    height: 7vh;
    margin-bottom: 0.5vh;

    display: flex;
    align-items: center;

    background-color: #F6F6F6;
    border: solid #B0B0B0 0.3vh;
    border-radius: 6px;

    box-shadow: 4px 5px 5px #00000019;

    text-decoration: none !important;

}


.download-bar:hover {
    padding: 1.5vh;
    box-shadow: 4px 5px 8px #00000030;
    /*font-weight: bolder;*/
}

.used-file .download-bar {
    color: white !important;
    font-weight: bold;
}

.download-bar * {
    padding: 2px;
    float: left;
}

/*
.arrow {
    height: max-content;
    font: 30px bold;
}*/

#Upload-Form {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
}
#Upload-Form * {
    display: block;
    margin: 0.5em;
}


