/*
-------------------------------------------------------------------------------------------------
<Une ligne décrivant le nom du programme et ce qu’il fait>
Copyright © 2019 Ulysse GUYON Sacha WANONO Eléa THUILIER
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see < https://www.gnu.org/licenses/ >.
-------------------------------------------------------------------------------------------------
*/



#TitreFexist{
    font-size: 1em;
    text-align: center;
}



#FeaturesList {
    margin-top: 1vh;
    margin-right:3%;
    
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: #D0D0D0;
    box-shadow: 3px 5px 8px #00000020;
    padding: 2em;
    
}

#basboitefeatures{
    border: rgb(201, 199, 199) 1px;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}


.retour {
    position: absolute;
    left: 1em;
    top: 1em;
}

.bouton {
    padding: 6px 10px;
	background-color: transparent;
	border-radius: 50px;
    width: max-content;
    cursor: pointer;
    text-decoration: none;    
}

.bouton:hover{
    box-shadow:0 0 4px grey;
}

.menuBoutons .bouton{
    padding: 6px 10px !important;
    text-align: center !important;
    background-color:rgb(12, 85, 12);
    color: white;
}

/*doublon*/

.download-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
/*doublon*/

.download-bar {

    height: 7vh;
    margin-bottom: 0.5vh;

    display: flex;
    align-items: center;

    background-color: #F6F6F6;
    border: solid #B0B0B0 0.3vh;
    border-radius: 6px;

    box-shadow: 4px 5px 5px #00000029;

    text-decoration: none !important;

}

.download-bar:hover {
    
    box-shadow: 3px 4px 8px #00000060;
    
    border: solid #63AE85 0.3vh;
    background-color: #1c643c !important;
    color: white;
}

.used-file .download-bar {
    color: white !important;
    font-weight: bold;
    background-color: #207245;
    
}
/*doublon*/

.download-bar * {
    padding: 2px;
    float: left;
}


*:checked + .download-bar, .used-file .download-bar {
    border: solid #63AE85 0.3vh;
}




