
#TitreFexist{
    font-size: 1,5em;
}


ol {
    position: relative;
    margin: 0 10%; 
    list-style: none;
}

ul {
    list-style: inside;
    border: black;
}

h3 {
    text-align: center;
}


#Qexist {
    top: 20%;
    position: fixed;
    height: 500px;
    width: 500px;
    margin-bottom: 100%;
    border-color: black;
}

#Fexist {
    width: 500px;
    top: 20%;
    left: 50%;
    position: fixed;  
    height: 500px;
    text-align: center;
}


#FeaturesList {
    border: solid grey 1px;
    padding: 1em;
    text-align: center;
    overflow-y:scroll;
    height: 400px;
    
}
#modifierQuestionnaire {
    position: absolute;
    right: 5%;
    margin: 0.5em;
}
#selectFeatureDoc {
    position: absolute;
    left: 5%;
    margin: 0.5em;
}

#modifierFeature {
    position: absolute;
    right: 5%;
    margin: 0.5em;
}

#alert-message {
    text-align: center;
    margin: 1em;
    border-radius: 15%;
    font: bold;
}
.stop-fade-out {
    visibility: visible;
    opacity: 1;
}
.fade-out-message {
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s, opacity 5s ease-in;
}
.success {
    color: green;
}
.error {
    color: red;
}

.retour {
    position: absolute;
    left: 1em;
    top: 1em;
}
/*
.bouton {
    padding: 6px 10px;
	
	background:#f5f5f5;
	
	border-radius: 2px;
    border: 1px solid #ccc;
    width: max-content;

    cursor: pointer;

	font: 15px bold;
    text-decoration: none;
    color:#555;
}
*/

.download-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.download-bar {
    display: flex;
    align-items: center;
}
.download-bar * {
    padding: 2px 5px;
    float: left;
}

.arrow {
    height: max-content;
    font: 30px bold;
}

#Upload-Form {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
}
#Upload-Form * {
    display: block;
    margin: 0.5em;
}

/* page ajouterQuestion */

#FormulaireModifQuestion {
    position: fixed;
    
    text-align: center;
    top: 20%;
    width: 500px;
    
    left: 50%;
    
    height: 500px;
}



form#ajoutQuest {
    display: table;
}

div#ajoutQuest{
    display: table-row;
}

label.ajoutQuest, input.ajoutQuest {
    display: table-cell;
    margin-bottom: 10px;
}

label.ajoutQuest {
    padding-right: 10px;
}

#formulaire{
    border: solid grey 1px;
    padding: 1em;
    text-align: center;
}
