*{
    font-family: Verdana, sans-serif;
    
}

#TitreQexist{
    
    font-size: 1.1em;
    text-align: center;
}


li{display: inline-block;
}


label{
    display:block;
    float:left;
    width:150px;
}

/*BOUTON*/
/*
.bouton {
    padding: 6px 10px;
	
	background:#f5f5f5;
	
	border-radius: 2px;
    border: 1px solid #ccc;
    width: max-content;

    cursor: pointer;

	font: 15px bold;
    text-decoration: none;
    color:#555;
    
}




input{
    float: left;
}*/


/*FIN BOUTON*/



#QuestionList{
    
    margin-right:3%;
    border: rgb(201, 199, 199) 1px;
    border-radius: 3%;
    border-style: outset;
    padding: 1em;
    /*important*/
    overflow-y: scroll;
}

#basboitequestion{
    border: rgb(201, 199, 199) 1px;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
    border-style: outset;
}



/*BOUTON*/

.menuBoutons ul{
    padding: 0;
    margin:0;
    list-style-type:none;
}
.menuBoutons li{
    
    float:left;
}

.menuBoutons ul  li  a {
    display:block;
    float:left;   
    width:100px;
    background-color:#6495ED;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    /*pour avoir un effet "outset" avec IE :*/
    border-color:#DCDCDC #696969 #696969 #DCDCDC;

}

