
#TitreFexist{
    font-size: 1em;
    text-align: center;
}



#FeaturesList {
    
    margin-right:3%;
    border: rgb(201, 199, 199) 1px;
    border-bottom:none !important;
    border-style: outset;
    padding: 1em;
    /*important*/
    overflow-y: scroll;
    
}

#basboitefeatures{
    
    border: rgb(201, 199, 199) 1px;
    border-top:none !important;
    border-style: outset;
    padding:0em;
    padding-bottom: 2em;
    margin:0;
    margin-left: 0em;
    margin-right:2em;
    vertical-align: middle;
    
    
    
}
#alert-message {
    text-align: center;
    margin: 1em;
    border-radius: 15%;
    font: bold;
}
.stop-fade-out {
    visibility: visible;
    opacity: 1;
}
.fade-out-message {
    visibility: hidden;
    opacity: 0;
    transition: visibility 5s, opacity 5s ease-in;
}
.success {
    color: green;
}
.error {
    color: red;
}

.retour {
    position: absolute;
    left: 1em;
    top: 1em;
}

.bouton {
    padding: 6px 10px;
	
	background:#f5f5f5;
	
	border-radius: 2px;
    border: 1px solid #ccc;
    width: max-content;

    cursor: pointer;

	font: 15px bold;
    text-decoration: none;
    color:#555;
}

.bouton:hover{
    box-shadow:0 0 4px grey;
}

.menuBoutons .bouton{
    background-color:rgb(12, 85, 12);
    color: white;
    margin-top: 10%;
}

input:hover{
    box-shadow:0 0 4px grey;
    border-radius: 50%;
}

.download-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}
.download-bar {
    display: flex;
    align-items: center;
}
.download-bar * {
    padding: 2px 5px;
    float: left;
}

.arrow {
    height: max-content;
    font: 30px bold;
}

#Upload-Form {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid black;
}
#Upload-Form * {
    display: block;
    margin: 0.5em;
}


