*{
    
    font-family: Verdana, sans-serif	;
}
body {
    top:20%;
    margin-top: 10%;
}


h1 {
    text-align: center;
}


form {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.bouton {
    padding: 6px 10px;
	
	background:#f5f5f5;
	
	border-radius: 2px;
    border: 1px solid #ccc;
    width: max-content;

    cursor: pointer;

	font: 15px bold;
    text-decoration: none;
    color:#555;
}

div#Name, div#Password, div#Email {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 30% 0;
	width: 735px;
}
div#Password {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 30% 0;
    width:730px;
    
}

label {
    position: relative;
    font: normal 20px 'Bitter', serif;
}

input {
    
    width: 25%;
    box-sizing: border-box;
    
    margin: 20px;
    -webkit-appearance: none;

    background: white;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: black;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solide grey;
	font-size: 15px;
}

input#exPassword{
    margin-left: 50px;
}

input#username{
    margin-left: 50px;
}

input#email{
    margin-left: 10px;
}
input[type="submit"]
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}